.header__link {
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  color: #2f80ed;
  opacity: 1;
}
.header__link:hover {
  opacity: 0.4;
  transition: opacity .3s linear;
}
