.feynman {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 790px;
  padding-top: 80px;
  position: relative;
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  background-position: left bottom;
  z-index: 0;
}
