.footer__social-icon {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-decoration: none;
  padding: 0;
  margin: 0 10px 0 0;
  height: 16px;
  width: 16px;
}
