.khan__buy-link {
  height: fit-content;
  text-decoration: none;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color: #2f80ed;
  margin-left: 48px;
  transition: opacity .2s linear;
  cursor: pointer;
  opacity: 1;
}
.khan__buy-link:hover {
  opacity: 0.4;
  transition: opacity .3s linear;
}
